[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "public"]
	path = public
	url = https://github.com/dev-hyunsang/dev-hyunsang.github.io
	branch = main
